<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tailwindcss.com">
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content")

// deleting elections function...
        function deleteElection(id){
            fetch(`/elections/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.replace("/elections");
                    }
                })
                .catch((err) => console.log(err));
        }
        
    </script>
</head>
<body>
    <div>
        <a href="/" class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400 hover:bg-orange-800 ">HOME</a> > 
        <a href="/elections" class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400 hover:bg-orange-800 ">ELECTIONS</a> > 
        <a href="/elections/<%=id%>" class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400 hover:bg-orange-800 "><%=electionName%></a>>
        <a href="/signout" class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400 hover:bg-orange-800 "><button>SignOut</button></a>
      </div>
      <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
        
    <%- include('header.ejs') %>
    <br>
    <h3 class="text-black font-medium text-2xl"><a href="/elections/<%=id%>"><%=electionName%></a></h3>
    <br>
    <h4 class="font-medium">There are <span class="special"><%=quesCount%></span> questions in the ballet of this election</h4>
    <br>
    <% if (! electionStatus){%>
        <a href="/elections/<%=id%>/questions" class="px-2 py-1.5 text-white font-medium rounded bg-orange-400  hover:bg-orange-800 "><button>Manage your questions</button></a>
        <br>
    <%}else{%>
        <br>
        <p>election running at:</p>
        <a id="vote" href="/elections/<%=id%>/vote" class="special">/elections/<%=id%>/vote</a>
        <%}%>
        <br>
    <h4 class="font-medium">There are currently <span class="special"><%=voterCount%></span> voters assigned for this election</h4>
    <br>
    <a href="/elections/<%=id%>/voters" class="px-2 py-1.5 text-white font-medium rounded bg-orange-400  hover:bg-orange-800 "><button>Manage voters</button></a>
    <br>
    <div>
        <%if(!electionStatus){%>
            <br>
            <a href="/elections/<%=id%>/electionPreview" class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400  hover:bg-orange-800 "><button>Preview Election</button></a>
            <br>
            <%}else{%>
                <br>
                <button onclick="endElection(<%=id%>)"class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400  hover:bg-orange-800 ">End Election</button>
        <%}%>
<br>
        <button onclick="deleteElection(<%=id%>)"class="px-0.5 py-0.5 text-white font-medium rounded bg-orange-400  hover:bg-orange-800 ">Delete Election</button><br>
        <%if(electionStatus){%>
            <a href="/elections/<%=id%>/results"><button>Results</button></a>
        <%}%>
    </div>
        </div>
        </div>

    <script>
        const vote=document.getElementById("vote")
        vote.innerText=window.location.origin+vote.innerText
    </script>
</body>
</html>